/***** General *****/


* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

header {
    margin: 0;
    width: 100%;
    max-width: 1440px;
    height: 79px;
    margin-bottom: 50px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}


    /***** Header *****/


.Logo-Booki {
    padding: 30px 50px;
    width: 61.09px;
    height: 19px;
    margin-left: 0;
    padding-left: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: inline-block;
    padding: 0px 50px 0px 50px;
    position: relative;
    color: #000;
}

nav a::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s;
}

nav a:hover::before {
    width: calc(100% - 2 * 50px);
    background-color: var(--main-color);
}

nav a:hover {
    color: var(--main-color);
}


    /***** Body *****/


h1, h4 {
    margin: 0;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

.headline {
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
}

.filter-link {
    display: flex;
    align-items: center;
    padding: 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #fff;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}

.filter-link i {
    width: 22px;
    height: 22px;
    margin-top: 4px;
}

.filter-link:hover {
    background-color: var(--filter-bg-color);
    color: #333;
}

.filter {
    display: flex;
    gap: 15px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 15px 0 0 15px;
  }
  
  .icon i {
    color: black;
  }
  .search-term {
    width: 50%;
    border: 1px solid var(--main-bg-color);
    border-right: none;
    border-left: none;
    padding: 5px;
    height: 40px;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
  }
  
  .search-term:focus{
    color: black;
    font-size: 18px;
    font-weight: 700;
  }
  
  .icon-button {
    display: none;
    width: 50px;
    height: 52px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: #fff;
    border-radius: 15px;
    margin-left: -10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  
  .text-button {
    display: flex;
    height: 52px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .search-container {
    width: 100%;
    display: flex;
    margin-top: 20px;
  }

  .infoline {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
  }

  .infoline i {
    min-height: 24px;
    min-width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    /***** Hebergements And Populaires *****/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


    /***** Hebergements *****/


.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-evenly;
}

.hebergements-cards a {
    width: 30%;
    display: block;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    transition: transform 0.3s;
    background-color: white;
    border-radius: 20px;
}

.hebergements-cards .card:hover {
    transform: scale(1.05);
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 83px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show-more-link {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    padding: 0 20px;
    display: inline-block;
    text-decoration: none;
}


    /***** Populaires *****/


.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition: transform 0.3s;
    background-color: white;
    border-radius: 20px;
}

.populaires-cards .card:hover {
    transform: scale(1.05);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


    /***** Activités *****/


.Activites {
    padding: 30px;
    gap: 30px;
    margin-top: 50px;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}

.activity-cards .card {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.activity-cards .card:hover {
    transform: scale(1.05);
}

.activity-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity-cards p {
    margin: 0;
    padding: 0;
    height: 59px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
}


    /***** Footer *****/


footer {
    max-width: 1440px;
    background-color: var(--main-bg-color);
    min-height: 163px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    margin-top: 60px;
    padding-left: 25px;
    padding-top: 10px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.About, .hebergements-footer, .Help {
    width: 33.333%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
}


        /***** Media queries *****/


    /***** Medium devices (tablets, less/equal than 1024px) *****/


@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements, .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-cards .card {
        width: 193.5px;
        height: 270px;
    }

    .activity-cards img {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activity-cards p {
        height: 70px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: center;
        padding-left: 12px;
    }

    h4 {
        margin-bottom: 0;
    }

    .filter-heading {
        margin-bottom: 5px;
    }

    .filter-box {
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .infoline {
        margin-bottom: 0;
    }
}


    /***** Small devices (phones, less than 768px) *****/


@media (max-width: 767.98px) {
    header {
        height: 115px;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .main-container {
        padding: 0 20px;
    }

    .Logo-Booki {
        margin-bottom: 10px;
        padding-left: 45px;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 50%;
        padding: 0;
        display: inline-block;
        text-align: center;
    }

    nav a::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: gray;
        transition: width 0.3s, background-color 0.3s;
    }
    
    nav a:hover::before {
        width: 100%;
        background-color: #0065FC;
    }

    .text-button {
        display: none;
    }

    .icon-button {
        display: flex;
    }

    form {
        width: 100%;
    }

    .search-term {
        width: 80%;
    }

    .search-container {
        width: 100%;
    }

    .filter-heading {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .filter-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        align-items: stretch;
        margin-top: 0;
    }

    .filter {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .filter a {
        flex-basis: 40%;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 16.44px;
        padding: 0;
    }

    h4 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        flex-direction: column;
        width: calc(100% + 40px);
        margin-left: -20px;
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        flex-direction: column;
        background-color: white;
        padding: 0 20px;
    }

    .hebergements-cards img {
        object-position: 50% 65%;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
        width: 100%;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .activity-cards {
        flex-direction: column;
    }

    .activity-cards .card {
        width: 100%;
    }

    footer {
        flex-direction: column;
        width: calc( 100% + 40px );
        margin-left: -20px;
        padding-left: 30px;
        box-sizing: border-box;
    }
}
