/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ******/

header {
    width: 1440px;
}

.Logo-Booki {
    padding: 30px 50px;
    width: 61.09px;
    height: 19px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 0px 50px 0px 50px;
    margin-right: 68px;
    position: relative;
}

nav a::before {
    content:"";
    position: absolute;
    top: -25px;
    width: 60%;
    height: 0;
    border-top: 2px solid transparent;
    transition: height 0.3s, color 0.3s;
}

nav a:hover::before {
    height: 2px;
    border-top: 2px solid #0065FC;
}

nav a:hover {
    color: #0065FC;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

h4 i {
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}

.headline {
    height: 53px;
    gap: 8px;
}

/****** Body ******/

.filter-box {
    display: flex;
    gap: 15px;
    margin-top: 24px;
}

.filter-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}
.filter-link {
    display: inline-block;
    padding: 4px 19px 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #fff;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    line-height: 40px;
}

.filter-link i {
    margin-right: 10px;
}

.filter-link:hover {
    background-color: #DEEBFF;
    color: #333;
}

.icon-container, .input-container, .button-container {
    display: inline-block;
    border: 1px solid #F2F2F2;
    height: 49px;
}

.icon-container {
    width: 3%;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    line-height: 49px;
}

.input-container {
    height: 49px;
    line-height: 49px;
    width: 12%;
}

.button-container {
    height: 49px;
    width: 10%;
    line-height: 49px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
}

input[type="text"] {
    width: 12%;
    border: none;
    outline: none;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 49px;
}

.form-container {
    margin-top: 50px;
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 240px;
    transition: transform 0.3s;
}

.hebergements-cards .card:hover {
    transform: scale(1.05);
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 83px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show-more-link {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    padding: 0 20px;
    display: inline-block;
    text-decoration: none;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition: transform 0.3s;
}

.populaires-cards .card:hover {
    transform: scale(1.05);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ******/

.Activites {
    padding: 30px;
    gap: 30px;
    margin-top: 30px;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}

.activity-cards .card {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.activity-cards .card:hover {
    transform: scale(1.05);
}

.activity-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
}

.activity-cards p {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}